<div class="card my-5">
  <div class="card-body d-flex justify-content-center">
    <form (ngSubmit)="onSubmit()" style="text-align: right; width: 70%" class="mx-auto">
      @if (currentUser) {
      <h3>
        <strong> {{ currentUser.username }}</strong>
      </h3>
      } @else {
      <p>Please login.</p>
      }
      <mat-form-field style="width: 100%">
        <mat-label>First name</mat-label>
        <input matInput name="firstName" [(ngModel)]="user.firstName">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Last name</mat-label>
        <input matInput name="lastName" [(ngModel)]="user.lastName">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput name="email" [(ngModel)]="user.email">
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Native language</mat-label>
        <mat-select [formControl]="colorControl">
          <mat-option value="native">{{user.nativeLang}}</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Learning languages</mat-label>
        <mat-select [formControl]="colorControl">
          <mat-option value="native">{{user.nativeLang}}</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngFor="let lang of user.learningLangs">
        <button mat-fab extended color="basic" class="ms-3">
          {{lang}}
          <mat-icon>close</mat-icon>
        </button>
      </ng-container>
      <button mat-raised-button type="submit">Save</button>
    </form>
  </div>
</div>
